@model Image_System.DTO.ChangePasswordExpiredDTO

@{
    Layout = null;
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/datatables")
@Scripts.Render("~/bundles/bootstrap")

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <title>Change Password</title>
    <link rel="shortcut icon" href="~/Content/images/logo.ico" />
</head>

<style>
    body {
        font-family: sans-serif;
        padding: 0;
        margin: 0;
    }

    .form-wrapper {
        width: 320px;
        height: 500px;
        border-radius: 4px;
        background: #2F366D;
        color: #FDF3F8;
        box-shadow: 0px 1px 10px 3px rgba(145, 125, 160, 1);
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        overflow: hidden;
    }

        .form-wrapper img {
            height: 100%;
            position: absolute;
            top: 0;
            left: -50%;
            opacity: .3;
            -webkit-filter: blur(3px);
            filter: blur(3px);
        }

        .form-wrapper .content-wrapper {
            position: relative;
            opacity: 1;
            width: 320px;
            height: 500px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-flow: column;
            -ms-flex-flow: column;
            flex-flow: column;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
        }

    .form-login {
        margin: 4rem auto;
    }

        .form-login input {
            margin: 5px auto;
            display: block;
            border-radius: 4px;
            background: none;
            color: rgba(253, 243, 248, 1);
            border: 2px solid rgba(85, 112, 172, .8);
            padding: 10px;
            width: 200px;
            font-weight: bolder;
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
        }

        .form-login button {
            width: 100%;
            margin-top: 10px;
            padding: 10px;
            display: block;
            font-weight: bolder;
            color: #FDF3F8;
            background: #ec6838;
            border: none;
            border-radius: 4px;
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
        }

        .form-login input:focus {
            outline: none;
            color: rgba(253, 243, 248, 1);
            background: rgba(85, 112, 172, .8);
            border-width: 2px;
            border-style: solid;
            border-color: rgba(85, 112, 172, .8);
        }

        .form-login input:hover {
            color: rgba(253, 243, 248, 1);
            background: rgba(85, 112, 172, .8);
            border-width: 2px;
            border-style: solid;
            border-color: rgba(85, 112, 172, .8);
        }

        .form-login button:hover {
            cursor: pointer;
            box-shadow: 0px 1px 10px 1px rgba(236, 104, 56, .6);
        }

    .form-wrapper .content-wrapper p {
        font-size: .7rem;
        color: rgba(223, 214, 217, .6);
    }

    .form-wrapper .content-wrapper a {
        color: #FDF3F8;
        text-decoration: none;
    }

    #wrapper-signup {
        opacity: 0;
        pointer-events: none;
    }

        #wrapper-signup:target {
            display: block;
            opacity: 1;
            pointer-events: all;
        }

            #wrapper-signup:target #wrapper-login,
            #wrapper-signin:target #wrapper-signup {
                opacity: 0;
                pointer-events: none;
            }

    #wrapper-signup,
    #wrapper-login {
        -webkit-transition: .2s linear all;
        transition: .2s linear all;
    }
</style>
<body>

    @if (Session["NIK"] == null)
    {
        Session.Abandon();
        Response.Redirect("~/Login/Index");
    }

    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success" role="alert">
            <strong>Message : </strong>@TempData["Message"].ToString()
        </div>
    }
    @if (TempData["Message"] == null)
    {
        <div class="alert alert-warning" role="alert" id="messagge">
            <strong>Message :</strong>Password Expired, Please Change Password
        </div>
    }

    <div class="form-wrapper" id="wrapper-login">
        <div class="content-wrapper" id="content-signin">
            <h5>Change Password</h5>
            <form id="form" action='@Url.Action("POST_ChangePasswordExpired","Login")' method="post" class="form-login">
                <input type="text" value="@Model.NIK.ToString()" name="NIK" class="input-username" autofocus autocomplete="on"  id="NIK" disabled style="font-size:10pt" placeholder="ID" />
                <input type="password" name="Password" class="input-password" id="Password" style="font-size:10pt" placeholder="Password" />
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "input-password", @id = "ConfirmPassword", @placeholder = "Confirm Password", @style = "font-size:10pt" } })
                <code id="validate-status"></code>
                <button class="btn btn-primary" type="submit">Change Password</button><br />
                <a href="#" id="logout" class="btn btn-block btn-primary">Logout</a>
            </form>
        </div>
    </div>

</body>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)

}

<script type="text/javascript">
    $('#logout').click(function () {
        window.location.href = '@Url.Action("Logout", "Login")';
    });
</script>

<script>
         $(document).ready(function () {
            $("#ConfirmPassword").keyup(validate);
        });

        function validate() {
            var Password = $("#Password").val();
            var ConfirmPassword = $("#ConfirmPassword").val();
            if (Password == ConfirmPassword) {
                $("#validate-status").text("New password and confirm password match");
            }
            else {
                $("#validate-status").text("New password and confirm password does not match");
            }

        }
</script>
